/*.row {
	height: 400px;
}*/

body {
}

h1 {
	font-size: 1.5em;
}

input {
	width: 40vw;
	font-size: .7em;
}

.headsUp {
	height: 40vh;
}

.headsUp div {
	border: 1px solid red;
	height: 25%;
	border-radius: 2%/10%;
}

.table {
	/*width: 50%;*/
	margin: 0 auto;
}

.graph {
	height: 200px;
	/*width: 70%;*/
	margin: 0 auto;
	border: 1px dashed green;
}

.donut {
	height: 200px;
	width: 200px;
	border: 2px dotted purple;
	margin: 0 auto;
}

.downloadLink {
	width: 50%;
	margin: 0 auto;
	text-align: center;
}