html, body {
	max-width: 100%;
	overflow-x: hidden;
}

body{
	background: rgba(215, 255,125,.5);
}

/*Change iframe scale at higher widths for responsivity.*/

.page-header.full-content {
	background: #000000;
}

.layer-container .menu-layer.active {

}

.nav-bar-border {
	background: #94D500;
	border: 1px solid #94D500;
}

.nav-menu .hamburger .patty {
    background: #FFFFFF;
}

.nav-search .search:before {
    border-color: #FFFFFF;
}

.nav-search .search:after {
    background: #FFFFFF;
}

.overlay .starting-point span {
    background-color: #94D500;
}

.layer-container .menu-layer.active {
    background: #94D500;
}

.layer-container .menu-layer li.open > a, .layer-container .menu-layer li:hover > a {
    color: #94D500;
}

.layer-container .menu-layer li .child-menu li a {
    color: #94D500;
}

.layer-container .menu-layer li.open:before, .layer-container .menu-layer li:hover:before {
    color: #94D500;
}

.bg-indigo{
	background: #000;
	transition: background .3s;
}

.bg-indigo:hover{
	background: #171717;
}

.bg-cyan{
	background: #000;
	transition: background .3s;
}

.bg-cyan:hover{
	background: #171717;
}

iframe {
	border: none;
	border-radius: 10px;
/*	box-sizing: border-box;
	border: 5px solid gray;*/
	/*transform: scale(.5);*/
}

.col-md-6 iframe{
	height: 55vh;
	width: 100%;
}

.col-md-12 iframe{
	height: 65vh;
	width: 100%;
}

@media screen and (max-width: 576px) {
  .col-md-12 iframe {
    visibility: hidden;
    display: none;
  }

  #totalOrders{
  	height: 80vh;
  }

  #returningCustomers{
	height: 75vh;
	width: 101%;
	margin-right: 10%;
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
  	#totalOrders{
  		height: 60vh;
  	}
}

/*queries for ipad*/

@media only screen and (min-width: 700px) {

	#totalOrders {
		height: 35vh;
	}
	#cancelledOrders {
		height: 35vh;
	}

	#returningCustomers{
		height: 35vh;
	}

	#totRevCusStore{
		height: 35vh;
	}

	#totRev{
		height: 35vh;
	}

	#custOrders{
		height: 40vh;
	}

	#custType{
		height: 40vh;
	}
}

@media only screen and (min-width: 1024px) {

	#totalOrders {
		height: 31vh;
	}
	#cancelledOrders {
		height: 31vh;
	}

	#returningCustomers{
		height: 31vh;
	}

	#totRevCusStore{
		height: 32vh;
	}

	#totRev{
		height: 31vh;
	}

	#custOrders{
		height: 35vh;
	}

	#custType{
		height: 33vh;
	}
}

@media only screen and (min-width: 1024px) and (orientation: landscape) {

	#totalOrders {
		height: 41vw;
	}
	#cancelledOrders {
		height: 41vw;
	}

	#returningCustomers{
		height: 41vw;
	}

	#totRevCusStore{
		height: 43vw;
	}

	#totRev{
		height: 41vw;
	}

	#custOrders{
		height: 45vw;
	}

	#custType{
		height: 42vw;
	}
}

@media only screen and (min-width: 1366px) and (orientation: landscape) {


	#totalOrders {
		height: 26vw;
	}
	#cancelledOrders {
		height: 26vw;
	}

	#returningCustomers{
		height: 26vw;
	}

	#totRevCusStore{
		height: 32vw;
	}

	#totRev{
		height: 26vw;
	}

	#custOrders{
		height: 32vw;
	}

	#custType{
		height: 32vw;
	}
}

@media only screen and (min-width: 1440px) and (orientation: landscape) {

	#totalOrders {
		height: 24vw;
	}
	#cancelledOrders {
		height: 24vw;
	}

	#returningCustomers{
		height: 24vw;
	}

	#totRevCusStore{
		height: 30vw;
	}

	#totRev{
		height: 24vw;
	}

	#custOrders{
		height: 30vw;
	}

	#custType{
		height: 30vw;
	}
}