html, body {
	max-width: 100%;
	overflow-x: hidden;
}

body{
	background: rgba(215, 255,125,.5);
}

/*Change iframe scale at higher widths for responsivity.*/

.page-header.full-content {
	background: #000000;
}

.layer-container .menu-layer.active {

}

.nav-bar-border {
	background: #94D500;
	border: 1px solid #94D500;
}

.nav-menu .hamburger .patty {
    background: #FFFFFF;
}

.nav-search .search:before {
    border-color: #FFFFFF;
}

.nav-search .search:after {
    background: #FFFFFF;
}

.overlay .starting-point span {
    background-color: #94D500;
}

.layer-container .menu-layer.active {
    background: #94D500;
}

.layer-container .menu-layer li.open > a, .layer-container .menu-layer li:hover > a {
    color: #94D500;
}

.layer-container .menu-layer li .child-menu li a {
    color: #94D500;
}

.layer-container .menu-layer li.open:before, .layer-container .menu-layer li:hover:before {
    color: #94D500;
}

.bg-indigo{
	background: #000;
	transition: background .3s;
}

.bg-indigo:hover{
	background: #171717;
}

.bg-cyan{
	background: #000;
	transition: background .3s;
}

.bg-cyan:hover{
	background: #171717;
}

iframe {
	border: none;
	border-radius: 10px;
/*	box-sizing: border-box;
	border: 5px solid gray;*/
	/*transform: scale(.5);*/
}

.col-md-6 iframe{
	height: 355px;
	width: 100%;
}

.col-md-12 iframe{
	height: 435px;
	width: 100%;
}

@media (max-width: 568px){
	.col-md-12{
		visibility: none;
		display: none;
	}
}